listen: ":8080"

api_keys:
  - "your-secret-api-key-here"

relays:
  - host: "198.46.199.132"
    port: 587
    password: "PASTE_PASSWORD_FROM_198_SERVER"
    from: "noreply@dstat.coffee"

  - host: "77.90.185.102"
    port: 587
    password: "PASTE_PASSWORD_FROM_77_SERVER"
    from: "noreply@dstat.coffee"

  - host: "213.177.179.55"
    port: 587
    password: "PASTE_PASSWORD_FROM_213_SERVER"
    from: "noreply@dstat.coffee"
